:root {
    --grey: rgb(116, 120, 122);
}

table {
    border-collapse: collapse;
}

th,
td {
    /* border: 1px solid rgb(76, 79, 81); */
    margin-right: 1em;
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;

}

.prvni {
    background-color: var(--grey);


}

.row__header {
    background-color: var(--grey);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

#row--white {
    background-color: white;
}




td {
    color: rgb(208, 165, 11);
    border: 1px solid rgb(76, 79, 81);
}

tbody th:nth-child(1) {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

.row__header--small {
    font-size: 10px;
    color: black;
    font-weight: normal;
    background-color: var(--grey);

}



thead {
    border: none;
}

thead .row__header th {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}