:root {
    --grey: rgb(116, 120, 122);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

html {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    font-size: 10px;
}

th,
td {
    /* border: 1px solid rgb(76, 79, 81); */

    padding: 0.5em;
    text-align: center;
    vertical-align: middle;

}


.row__header {
    background-color: var(--grey);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

#row--white {
    background-color: white;
}


td {
    color: var(--black);
    border: 1px solid rgb(76, 79, 81);

}

tbody th:nth-child(1) {
    writing-mode: vertical-lr;
    text-transform: uppercase;
    border-radius: 5px 0px 0px 5px;
}



thead .row__header th {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

th {
    color: var(--white);
    font-weight: lighter;
    font-size: 8px;

}

thead th span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: var(--white);
}


.body__marker {
    background-color: rgb(227, 227, 236);
}

tbody tr th {
    background-color: var(--grey);
    margin: 10px;
    /* border: 3px solid rgb(76, 79, 81); */

}

tbody tr span {
    display: block;
    font-size: 8px;
    font-weight: 300;
    color: rgb(84, 82, 82);

}

caption {
    font-size: 20px;
}